.search {
  background-color: #cf9a09;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  // margin: 1.5rem 0;
  height: 100px;

  input {
    padding: 0.7rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    font-size: 1rem;

    &:focus {
      outline: none;
      border-color: #2563eb;
    }
  }

  button {
    padding: 0.7rem 1.2rem;
    border: none;
    background: #2563eb;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background: #1e40af;
    }
  }
}

.search-results {
  margin-top: 1rem;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0.5rem;

      a {
        color: #2563eb;
        cursor: pointer;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Mobile menu */
