.footer {
  text-align: center;
  padding: 1rem;
  background: #0acddb;
  color: white;

  nav a {
    color: #aaffaa;
    margin: 0 0.5rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
